<h2>The Application Components</h2>
<!--String Interpolation-->
<div class="container">{{title}}</div>
<br>
<!--Porperty Binding-->
<input type="text" [value]="header" class="form-control">
<br>
<input type="button" value="Click Me" class="btn btn-danger" (click)="display($event)">
<br>
<input type="text" [(ngModel)]="name" class="form-control">
<br>
<input type="text" [(ngModel)]="name" class="form-control">
<br>
<input type="text" [(ngModel)]="name" class="form-control">
<br>
<div class="container">
    <h2>
        {{100*200}}
    </h2>
</div>

<br>
<div class="container">
    <h2>
        {{expr}}
    </h2>
</div>